@import 'dark-variables';
@import '../../node_modules/normalize.css/normalize';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'gallery';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
// $main-font: 'Ysabeau SC', sans-serif;

.main {
    width: 64em;
    margin: 0 auto;
}

// .site-header {
//     background-color: $header-color;
// }

// .header {
//     background-color: $accent-color
// }

* {
    text-decoration: none;
    color: $font-color;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-size: 1.4em;
    line-height: 1.4;
    width: 64rem;
    margin: 1.96rem auto;
    margin-bottom: 1.96rem;
    color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ysabeau SC", sans-serif;
}
h1 {
    color: $font-alternative-color;
}
.nav a, .nav-toggle {
    text-decoration: underline;
    color: $font-color;
}
.site-header {
    background-color: $header-color;
    display: flex;
}



.social {
    width: 100%;
    text-align: center;
}
.social a{
    text-decoration: none;
}

[class^=fa] {
    width: 50px;
    height: 50px;
    color: $font-alternative-color;
    font-size: 2rem;
    margin: 20px;
}

body {
    background-color: $background;
}

.post a{
    color: $font-alternative-color;
}

code {
    background: $header-color;
}

pre {
    background: none;
}

[class^=t-], .rapport{
    border: 1px solid $font-alternative-color;
    text-align: center;
}

[class^=t-] a {
    text-decoration: underline 1px $font-alternative-color;
}

img {
    filter: grayscale(40%);
}

.title{
    margin-left: 10px;
    margin-top: 50px;
}

.nav ul {
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: $header-color;
}

.rapport{
    grid-column-end: span 3 ;
}

.link {
    text-align: center;
}

.zalando {
    width: 200px;
    height: 200px;
}