@import 'variables';
@import '../../node_modules/normalize.css/normalize';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'gallery';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import 'gallery';

// $main-font: 'Ysabeau SC', sans-serif;
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    width: 64em;
    margin: 0 auto;
    background-color:seashell;
    padding: 8px;
}

// .site-header {
//     background-color: $header-color;
// }

// .header {
//     background-color: $accent-color
// }

* {
    text-decoration: none;
    color: $font-color;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1.4em;
    line-height: 1.4;
    width: 64rem;
    margin: 1.96rem auto;
    margin-bottom: 1.96rem;
    color: $font-color;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ysabeau SC", sans-serif;
}
h1 {
    color: $font-alternative-color;
}
.nav a, .nav-toggle {
    text-decoration: underline;
    color: $font-alternative-color;
}
.site-header {
    display: flex;
    background-color: $header-color;
}

.social {
    width: 100%;
    text-align: center;
}
.social a{
    text-decoration: none;
}

[class^=fa] {
    width: 50px;
    height: 50px;
    color: $icons;
    font-size: 2rem;
    margin: 20px;
}

body {
    background-color: $background-color;
}

.post a{
    color: $font-alternative-color;
}
.post {
    max-height: 25px;
}

.footer {
    background-color: $footer-color;
    border-top: #207900;
}

[class^=t-], .rapport {
    background-color: $icons;
    text-align: center;
}

.article-content p{
    width: fit-content;
}

.title{
    margin-top: 50px;
    margin-left: 10px;
}

.nav ul {
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: $header-color;
    border-bottom: 1px solid black;
}

.rapport{
    grid-column-end: span 3 ;
}

[class^=t-] a {
    text-decoration: underline 1px $font-alternative-color;
}